{{>title}}
<script>
    async function findBook(value){
        const book = {
            search: value
        }
        await fetch("http://localhost:3000/book", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify(book)
        }).then(res => res.json())
        .then(data => console.log(data))
        .catch(error => console.log(error))
    }
</script>
<div id="input">
    <input type="search" oninput={findBook(value)}></input>
</div>
<div id="boxBooks">
    {{#if Books}}
        {{#each Books}}
        <div id="book">
            <button>
                <img src={{volumeInfo.imageLinks.thumbnail}} alt={{volumeInfo.title}}>
                <p>{{volumeInfo.title}}</p>
            </button>
        </div>
        {{else}}

        {{/each}}
    {{else}} 
        <h2>Pesquise por livros e eles aparecerão aqui!</h2>
    {{/if}}
</div>